/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.post{
    color: #0F0F0F;
    border-style: solid;
}

.text{
    text-align: center;
}

.head{
    background: #E0DBDB;
}